.sort-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        padding: 0 3px;
        cursor: pointer;
    }
}

.group-btns {
    display: flex;
    gap: 10px;

    i {
        color: #fff;
    }
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}